@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@900&family=Jost:wght@300;400&display=swap');

body {
  background-color: black;
}

.title {
  font-family: 'Gabarito', sans-serif;
}

.subtitle {
  font-family: 'Jost', sans-serif;
}

.welcome {
  background: url('https://media.giphy.com/media/bwJP1W584MGOY/giphy.gif');
  background-clip: text;
  background-position: center;
  -webkit-background-clip: text;
  color: transparent;
}

.welcome-shadow {
  text-shadow: rgba(255, 255, 255, 0.2) 12px 12px 0px;
}

.color-text {
  color: white;
}
