@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;1,400&family=Kanit:wght@700&display=swap');

.title {
  font-family: 'Cabin', sans-serif;
}

.subtitle {
  font-family: 'Kanit', sans-serif;
}

.triangle {
  width: 200px;
  height: 200px;
  background-color: #FFE928;
}

.circle {
  width: 200px;
  height: 200px;
  background-color: #FF6400;
  border-radius: 100%;
}

.color-text {
  color: white;
}

.background-color {
  background-color: black;
}
